@model Click4Trip.ViewModel.IdentifyVM

@{
    ViewBag.Title = "Order Number";
}
<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.intellisense.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorize</title>
    <style>
        body {
            background-color: #0072C6;
            padding: 50px;
        }

        .ViewOrder1 {
            margin: 20px auto;
            width: 60%;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        .screen {
            background-color: #FFF;
            padding: 20px;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }

        .subBtn {
            text-transform: uppercase;
            outline: 0;
            background: #0072C6;
            border: 0;
            width: 21%;
            padding: 10px;
            color: #FFFFFF;
            font-size: 14px;
            cursor: pointer;
        }

        .delBtn {
            text-transform: uppercase;
            outline: 0;
            background: #0072C6;
            border: 0;
            width: 21%;
            padding: 10px;
            color: orangered;
            font-size: 14px;
            cursor: pointer;
        }

        .form-control {
            width: 21%;
        }
    </style>
</head>

<body>
    <div class="ViewOrder1">
        <div class="screen">
            <div class="row">
                <center>
                    <h2>Invoice ID:</h2>
                    <br />
                </center>
                @using (Html.BeginForm("DeleteOrder", "Service", FormMethod.Post, new { id = "myForm" }))
                {
                    <center>
                        <br />
                        <div>
                            <label>Enter Invoice Number</label>
                            @Html.TextBoxFor(x => x.InvoiceId, new
                            {
                                type = "text",
                                @class = "form-control",@*placeholder = "Invoice number",*@required = "required",
                                maxlength = "20",
                                id = "btn1"
                            })
                            <div> @Html.ValidationMessageFor(x => x.InvoiceId, null, new { @class = "text-danger" })</div>
                        </div>
                        <br />
                        <button onclick="myFunction()" class="delBtn">Delete &raquo;</button>
                    </center>
                }
            </div>
            <p>
                <center><label class="text-danger">@ViewData["msg"]</label></center>
                <center><label class="text-success">@ViewData["msgsc"]</label></center>
            </p>
        </div>
    </div>
    <script>
        if ('@ViewData["msgsc"]' == "Order Deleted") {
            var varTimerInMiliseconds = 3000;
            setTimeout(function () {
                window.location.href = '@Url.Action("Index", "Management")';
            }, varTimerInMiliseconds);
        }

        function myFunction() {
            if (confirm("Are you sure?") == true) {
                document.getElementById("myForm").submit();
            }
        }
    </script>
</body>
</html>